@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background-color:aliceblue;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cust-class1{
  background-image: url('../public/assets/11.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.cust-class2{
  background-image: url('../public/assets/12.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.cust-class3{
  background-image: url('../public/assets/13.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.cust-class4{
  background-image: url('../public/assets/14.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.cust-class5{
  background-image: url('../public/assets/15.png');
  background-size: cover;
  background-repeat: no-repeat;
}